This is the home page showing a list of creatures


  <br>
  <% @creatures.each do |creature| %>
  <li> <%= creature.id%> | <%= creature.name %> | <%= creature.description%> </li>
  <% end %>
  <br>


Isn't it pretty?  Ohhh so pretty...